In [2]:
import pandas as pd 
import numpy as np

In [15]:
dados = pd.read_excel('C:\\Users\\wesle\\Documents\\dados\\Vendasdez.xlsx')

In [16]:
dados.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276

In [17]:
faturamento=dados['Valor Final'].sum()

In [18]:
print('faturamento total é de {}'.format(faturamento))

faturamento total é de 2917311