# Projeto professora Daniele Uziel

In [1]:
import pandas as pd 
import numpy as np

In [2]:
dados = pd.read_excel('C:\\Users\\wesle\\Documents\\dados\\Socios_excel.xlsx')

In [3]:
dados.head()

,cnpj,razao_social,cpf_cnpj_socio,nome_socio,codigo_qualificacao_socio,codigo_tipo_socio,tipo_socio,qualificacao_socio,Índice
0,296376,BANCO DO BRASIL SA,***760516**,DELANO VALENTIM DE ANDRADE,10,2,Pessoa Física,Diretor,1
1,353,BANCO DO BRASIL SA,***470447**,RUBEM DE FREITAS NOVAES,16,2,Pessoa Física,Presidente,2
2,353,BANCO DO BRASIL SA,***431620**,GERSON EDUARDO DE OLIVEIRA,10,2,Pessoa Física,Diretor,3
3,353,BANCO DO BRASIL SA,***760516**,DELANO VALENTIM DE ANDRADE,10,2,Pessoa Física,Diretor,4
4,353,BANCO DO BRASIL SA,***875581**,ANA PAULA TEIXEIRA DE SOUSA,10,2,Pessoa Física,Diretor,5

In [4]:
cpf = input("Entre com CPF ou CNPJ do cliente: ")

cpf_filtrado = dados['cpf_cnpj_socio'] == cpf

Entre com CPF ou CNPJ do cliente: ***875581**

In [5]:
print(dados[cpf_filtrado])

          cnpj        razao_social cpf_cnpj_socio  \
4          353  BANCO DO BRASIL SA    ***875581**
78      259764  BANCO DO BRASIL SA    ***875581**
147     363316  BANCO DO BRASIL SA    ***875581**
3610    296376  BANCO DO BRASIL SA    ***875581**
14436   275107  BANCO DO BRASIL SA    ***875581**
...        ...                 ...            ...
457150  369438  BANCO DO BRASIL SA    ***875581**
458792  173371  BANCO DO BRASIL SA    ***875581**
468419  264504  BANCO DO BRASIL SA    ***875581**
468491  487805  BANCO DO BRASIL SA    ***875581**
483828  397806  BANCO DO BRASIL SA    ***875581**

                         nome_socio  codigo_qualificacao_socio  \
4       ANA PAULA TEIXEIRA DE SOUSA                         10
78      ANA PAULA TEIXEIRA DE SOUSA                         10
147     ANA PAULA TEIXEIRA DE SOUSA                         10
3610    ANA PAULA TEIXEIRA DE SOUSA                         10
14436   ANA PAULA TEIXEIRA DE SOUSA                         10
...                             ...                        ...
457150  ANA PAULA TEIXEIRA DE SOUSA                         10
458792  ANA PAULA TEIXEIRA DE SOUSA                         10
468419  ANA PAULA TEIXEIRA DE SOUSA                         10
468491  ANA PAULA TEIXEIRA DE SOUSA                         10
483828  ANA PAULA TEIXEIRA DE SOUSA                         10

        codigo_tipo_socio     tipo_socio qualificacao_socio  Índice
4                       2  Pessoa Física            Diretor       5
78                      2  Pessoa Física            Diretor      79
147                     2  Pessoa Física            Diretor     148
3610                    2  Pessoa Física            Diretor    3611
14436                   2  Pessoa Física            Diretor   14437
...                   ...            ...                ...     ...
457150                  2  Pessoa Física            Diretor  457151
458792                  2  Pessoa Física            Diretor  458793
468419                  2  Pessoa Física            Diretor  468420
468491                  2  Pessoa Física            Diretor  468492
483828                  2  Pessoa Física            Diretor  483829

[131 rows x 9 columns]